<div class="links">
    <a href="/500" class="links__item">500</a>
    <a href="/chats" class="links__item">Чаты</a>
    <a href="/signin" class="links__item">Регистрация</a>
    <a href="/profile" class="links__item">Профиль</a>
    <a href="/404" class="links__item">404</a>

</div>

{{{ form }}}