@import '../../../static/variables.scss';

.input {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 32px;

    &__label {
        font-weight: 500;
        font-size: 9px;
        line-height: 9px;
        color: $secondary-text-color;
        margin-bottom: 8px;
    }

    &__item {
        border: none;
        border-bottom: 1px solid $primary-color;
        background-color: inherit;

        &::placeholder {
            font-weight: 500;
            font-size: 13px;
            line-height: 13px;
            color: $secondary-text-color;
        }

        &:focus::placeholder {
            color: transparent;
        }
    }

    &__error {
        color: $error-color;
        font-weight: 400;
        font-size: 8px;
        line-height: 8px;
        position: absolute;
        left: 0;
        top: 44px;
        margin: 0;
        display: none;
    }

    &__error_visible {
        display: block;
    }
}
