@import '../../../static/variables.scss';

.profile-button {
	color: $primary-color;
	cursor: pointer;
	width: 100%;
	display: flex;
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #eaeaea;
	padding: 10px 0;
	transition: all 0.3s;
	margin: 0;

	&:hover {
		opacity: 0.8;
	}
}
