<button class='profile__avatar'></button>
<h2 class='profile__name'>{{user.first_name}}</h2>

<form class='profile__container'>
    <div class='profile__form'>
        {{#each inputs}}
            {{{this}}}
        {{/each}}
    </div>

    {{#each actions}}
        {{{this}}}
    {{/each}}
    <div class='profile__exit-link'>
        <a href='/' class='profile__link'>Выйти</a>
    </div>
    <div class='profile__save-button'>
        {{{saveButton}}}
    </div>
</form>

