@import '../../../static/variables.scss';

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 510px;

    &__avatar {
        border-radius: 50%;
        object-fit: cover;
        background-color: #efefef;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../../../static/images/avatar.svg');
        cursor: pointer;
        padding: 0;
        margin: 0 0 21px;
        border: 0;
        width: 130px;
        height: 130px;
        position: relative;

        &::after {
            width: 100%;
            background-color: rgb(0 0 0 / 50%);
            background-position: center;
            background-repeat: no-repeat;
            position: absolute;
            content: 'Поменять аватар';
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: none;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            font-size: 13px;
            line-height: 14px;
            color: $bg-color;
            border-radius: 50%;
        }
    }

    &__avatar:hover::after {
        display: flex;
    }

    &__name {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        margin-bottom: 60px;
    }

    &__container {
        align-self: flex-start;
        width: 100%;
    }

    &__exit-link {
        margin-top: 10px;
    }

    &__link {
        font-weight: 500;
        font-size: 13px;
        line-height: 13px;
        color: #ff0000;
        text-decoration: none;
    }

    &__form {
        margin-bottom: 60px;
    }

    &__save-button {
        width: 280px;
        margin: 0 auto;
    }

    &__back-pannel {
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        max-width: 64px;
        padding: 0 18px;
        border-right: 1px solid $border-color;
        background-color: $chats-bg-color;
    }

    &__back-button {
        width: 28px;
        height: 28px;
        background-color: $primary-color;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 50%;
        background-image: url('../../../static/images/forward.svg');
        transform: rotate(180deg);
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        transition: all 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }
}
