@import '../../../static/variables.scss';

.chats {
	display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    &__list-container {
        display: flex;
        flex-direction: column;
        max-width: 310px;
        width: 100%;
        padding: 20px 10px;
        box-sizing: border-box;
        background-color: $chats-bg-color;
        border-right: 1px solid $border-color;
    }

    &__button {
        margin-left: auto;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        color: $secondary-text-color;
        text-decoration: none;
        margin-bottom: 23px;
    }

    &__button-arrow {
        border: solid $secondary-text-color;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
    }

    &__input {
        min-height: 32px;
        border-radius: 5px;
        background-color: $secondary-bg-color;
        border: none;
        margin-bottom: 14px;
		outline: none;
        padding-left: 5px;

        &::placeholder {
            font-weight: 500;
            font-size: 12px;
            line-height: 12px;
            color: $secondary-text-color;
            text-align: center;
        }

        &:focus::placeholder {
			color: transparent;
		}
    }

    &__chat-detail {
        padding: 20px 10px;
        width: 100%;
        display: flex;
    }

	&__placeholder {
		font-weight: 500;
		font-size: 12px;
		line-height: 12px;
		color: $secondary-text-color;
        align-self: center;
        margin: 0 auto;
	}
}
