$primary-color: #3369f3;
$error-color: #ff2f2f;
$text-color: #1e1e1e;
$bg-color: #eee;
$secondary-text-color: #999999;
$secondary-bg-color: #efefef;
$chats-bg-color: #fbfbfb;
$border-color: #eaeaea;
$accent-bg-color: #e4edfd;
