@import '../../../static/variables.scss';

.avatar {
    border-radius: 50%;
    object-fit: cover;
    background-color: $secondary-bg-color;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../static/images/avatar.svg');
    cursor: pointer;
    padding: 0;
    margin: 0 0 21px;
    border: 0;
    width: 130px;
    height: 130px;
    position: relative;
    background-size: contain;

    &::after {
        width: 100%;
        background-color: rgb(0 0 0 / 50%);
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        content: 'Поменять аватар';
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: none;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 13px;
        line-height: 14px;
        color: $bg-color;
        border-radius: 50%;
    }
}

.avatar:hover::after {
    display: flex;
}
