@import '../static/vendor/normalize.css';
@import '../static/vendor/fonts/fonts.css';

.page {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-width: 300px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.main {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}