@import '../../../static/variables.scss';

.message {
    max-width: 402px;
    width: max-content;
    border-radius: 10px;
    border-top-left-radius: 0;
    background-color: $message-bg-color;
    padding: 11px;
    margin-bottom: 12px;

    &__content {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
    }

    &_mine {
        background-color: $accent-bg-color;
        margin-left: auto;
        border-bottom-right-radius: 0;
        border-top-left-radius: 10px;
    }
}
